APP__HOST=0.0.0.0
APP__PORT=8000

DB__NAME=database
DB__USER=postgres
DB__PASSWORD=postgres
DB__HOST=db
DB__PORT=5432
DB__DRIVER_NAME=postgresql+asyncpg

BROKER__URL=amqp://guest:guest@rabbitmq:5672//
BROKER__RESULT_BACKEND=rpc://

RABBIT_USER=guest
RABBIT_PASSWORD=guest
